In [ ]:
import sqlite3 # this is a new library that we are using to work with sql databases
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
con = sqlite3.connect('./movie_lines.db') # importing an sql database
cur = con.cursor() # setting a cursor to the database that we read in

In [ ]:
# let's start very simply with an iteration from one of the movies table
cur.execute("SELECT * FROM movies LIMIT 10")
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
cur.execute("SELECT * FROM characters LIMIT 10") # here is the results from the characters table
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
# now we can join the two tables by connecting the primary keys
cur.execute("SELECT * FROM movies, characters where movies.movie_id = characters.movie_id LIMIT 10")
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
# here we can take a look at taking some of the results and putting it into a dataframe
# notice that we just want the rating and the geneder of the lead actor
SQL_Query = pd.read_sql_query("SELECT characters.gender, movies.imdb_rating FROM movies, characters where movies.movie_id = characters.movie_id", con)
df = pd.DataFrame(SQL_Query, columns=['gender','imdb_rating'])

In [ ]:
df.describe() # you've seen this before; this describes the first few rows of a dataframe

In [ ]:
# we can join the dataframes a different way by brining in
# two dataframes and then joining them within python

SQL_Query = pd.read_sql_query("SELECT movie_id, imdb_rating FROM movies", con)
df_rating = pd.DataFrame(SQL_Query, columns=['movie_id','imdb_rating'])
SQL_Query = pd.read_sql_query("SELECT movie_id, gender FROM characters", con)
df_gender = pd.DataFrame(SQL_Query, columns=['movie_id','gender'])
df = df_gender.join(df_rating.set_index('movie_id'), on='movie_id')
df.describe()

In [ ]:
# now we get to test our hypothesis about whether or not a movie with a female lead is more
# or less likely to have a higher IMDB rating
df.boxplot(column=['imdb_rating'], by="gender")
plt.suptitle("")
plt.xlabel("")
plt.show()