In [ ]:
import sqlite3 # this is a new libary that we are importing to work with a database
import pandas as pd

In [ ]:
con = sqlite3.connect('./contacts.db')
cur = con.cursor()

In [ ]:
cur.execute("SELECT * FROM users") # users is one of the tables in the database; there are 3 rows
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
cur.execute("SELECT * FROM phone") # phone is another table in the database; there are 5 rows
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
cur.execute("SELECT * FROM users, phone") # this combines the two tables for 3x5 = 15 rows
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
cur.execute("SELECT * FROM users, phone WHERE users.id = phone.id") # this matches the primary
# key of the two tables to get only the 5 results
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
cur.execute("SELECT users.name, phone.number FROM users, phone WHERE users.id = phone.id") # this only has
# the resulting columns that are names and numbers
results = cur.fetchall()
for row in results:
    print(row)

In [ ]:
# here is where we see the connection between SQL and pandas
# here we take the resulting query and put it into a dataframe
SQL_Query = pd.read_sql_query("SELECT users.name, phone.number FROM users, phone WHERE users.id = phone.id", con)
df = pd.DataFrame(SQL_Query, columns=['name', 'number'])

In [ ]:
df.head(10)